*{
  padding: 0%;
  margin: 0%;
}

#root{
  
}

span {
  color: #ff8e00;
}

.App {
  display: grid;
  grid-template-rows: 
  'User Header'
  'Nav Nav'
  'Article Article';
}

h1 {
  text-align: end;
  padding: 2rem;
}

/*---NAVBAR---*/
.Navbar {
  display: flex;
  list-style: none;
}
.Navbar > #home-link {
  padding: 1rem;
}
.Navbar > #users-link {
  padding: 1rem;
}

/*---HOME PAGE---*/
.article-list {
  display: grid;
  background-color: #eeeeee;
  border-radius: 25px;
  padding: 0.5rem;
}

.single-article {
  margin-top: 1rem;
  display: grid;
  grid-template-areas: 'topic date'
  'title title'
  'author author'
  'votes comments';
  background-color: #ffffff;
  border: solid 2px #ffffff;
  list-style: none;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 10px 5px 5px rgba(70, 70, 70, 0.315);
}
.single-article:hover {
  box-shadow: 10px 5px 5px rgba(49, 49, 49, 0.585);
}
.single-article > #article-topic {
  grid-area: topic;
  padding: 1rem;
  text-transform: capitalize;
  font-size: small;
}
.single-article > #article-date {
  grid-area: date;
  padding: 1rem;
  font-size: small;
  text-align: end;
}
.single-article > #article-title {
  grid-area: title;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem;
  margin-left: 2%;
  border-left: solid 2px #ff8e00;
}
.single-article > #article-author {
  grid-area: author;
  padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: small;
}
.single-article > #article-votes {
  grid-area: votes;
  padding: 1rem;
  font-size: small;
}
.single-article > #article-comments {
  grid-area: comments;
  padding: 1rem;
  font-size: small;
}

.topic-select {
  margin-top: 2%;
  margin-left: 2%;
  width: 200px;
}


/*---Single article page---*/
.article-list {
  display: grid;
  background-color: #eeeeee;
  border-radius: 25px;
  padding: 0.5rem;
}

.article-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas: 'topic date'
  'title title'
  'author author'
  'body body'
  'votes comments';
  background-color: #ffffff;
  border: solid 2px #ffffff;
  list-style: none;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 10px 5px 5px rgba(70, 70, 70, 0.315);
}
.article-item > #article-topic {
  grid-area: topic;
  padding: 1rem;
  text-transform: capitalize;
  font-size: small;
}
.article-item > #article-date {
  grid-area: date;
  padding: 1rem;
  font-size: small;
  text-align: end;
}
.article-item > #article-title {
  grid-area: title;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem;
  margin-left: 2%;
  border-left: solid 2px #ff8e00;
}
.article-item > #article-author {
  grid-area: author;
  padding: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: small;
}
.article-item > #article-body {
  grid-area: body;
  padding: 1rem;
  margin-left: 1%;
  margin-right: 1%;
  border-top: solid 1px black;
}
.article-item > #article-votes {
  grid-area: votes;
  padding: 1rem;
  font-size: small;
}
.article-item > #article-votes > #vote-button {
  margin-left: 2%;
  margin-right: 2%;
  padding: 0.2rem;
  min-width: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}
.article-item > #article-votes > #vote-button:hover {
  background-color: rgba(255, 142, 0, 0.8);
  color: #eeeeee;
}
.article-item > #article-comments {
  grid-area: comments;
  margin-top: 3%;
  padding: 1rem;
  font-size: small;
}

/*---Comment List---*/
#comment-title {
  padding: 1rem;
}
.comment-list {
  display: grid;
  background-color: #eeeeee;
  border-radius: 25px;
  padding: 0.5rem;
}

.comment-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas: 'author date'
  'body body'
  'votes votes';
  background-color: #ffffff;
  border: solid 2px #ffffff;
  list-style: none;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 10px 5px 5px rgba(70, 70, 70, 0.315);
}
.comment-item > #comment-author {
  grid-area: author;
  padding: 1rem;
  text-transform: capitalize;
  font-size: small;
}
.comment-item > #comment-date {
  grid-area: date;
  padding: 1rem;
  font-size: small;
  text-align: end;
}
.comment-item > #comment-body {
  grid-area: body;
  padding: 1rem;
  margin-left: 1%;
  margin-right: 1%;
  border-top: solid 1px black;
}
.comment-item > #comment-votes {
  grid-area: votes;
  padding: 1rem;
  font-size: small;
  text-align: end;
}
